<div style="text-align: center; margin-top: 40px; margin-bottom: 20px">
  <h1>Sign up to New Leaf</h1>
  <p>Already have an account? <%= link_to "Login", login_path%></p>
</div>

<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <div style="color: red">
      <h4><%= pluralize(@user.errors.count, "error") %> 
        prohibited this category from being saved:</h4>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

<div class="container" style="padding: 30px; background-color: #82AC85; border-radius: 25px; margin-top: 20px; width: 400px;">
<%= form_with(model: @user) do |form| %>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><%= form.label :username%></label>
    <%= form.text_field :username, class: "form-control"%>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"><%= form.label :email%></label>
    <%= form.text_field :email, class: "form-control"%>
    <div id="emailHelp" class="form-text" style="color: black">We'll never share your email with anyone else.</div>
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><%= form.label :password%></label>
    <%= form.password_field :password, class: "form-control"%>  </div>
    <%=form.submit "Sign Up", class: "btn btn-dark" %>
<%end%>
</div>

  <img 
    src="https://img.freepik.com/free-vector/save-planet-concept-with-people-taking-care-earth_23-2148522570.jpg?w=740&t=st=1677920465~exp=1677921065~hmac=bc3391cceb3739de3befc7755359b47d5a9907937672a4224ecba30b57f3c0b2" 
    class="img-fluid" alt="..." 
    style= "
        width:10%;
        margin-left: 400px;">
