<div class= "container" style="background-color: #EB9C5C; padding: 30px;border-radius: 25px; width: 600px">
<%= form_with(model: @activity) do |form|%>
<div class="input-group mb-3">
    <%= form.label :name, class:"input-group-text"%>
    <%= form.text_field :name, class: "form-control" %>
</div>

<div class="input-group">
    <%= form.label :description, class:"input-group-text" %>
    <%= form.text_area :description, class: "form-control" %>
</div>

<label for="basic-url" class="form-label"><%= form.label :image_path %></label>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
    <%= form.text_area :image_path, class: "form-control" %>
</div>

<div class="input-group mb-3">
    <span class="input-group-text"><%= form.label :category_id%></span>
    <div class="form-control">
    <%= form.collection_select(:category_ids, Category.all, :id, :name, {}, {multiple: true}) %>
    </div>
</div>
<%= form.submit "Submit", class:"btn btn-secondary", style: "text-align: center" %>
<%end%>
</div>