<%= stylesheet_link_tag "activity"%>
<div class="activityPage">
   <div style="text-align:center">
   <h1>Explore all the Activities</h1> 
   </div>
      <div class="row">
         <% @activities.each do |activity| %>
         <div class="col-xs-12 col-md-6 col-lg-4">
         <div class="card" style="width: 100%">
               <div>        
                  <%= link_to activity_path(activity) do%>
                  <%= image_tag activity.image_path, class:"card-img-top", style: "border: 1px solid black" %> 
                  <%end%>
               </div>
               <div class="card-body">
                  <h2><b> <%= activity.name %> </b></h2>
                  <p class="card-text">
                     <p>Description: <%= activity.description.slice(0,10) %>....</p>
                  </p>
               </div>
            </div>
         </div>
         <%end%>
      </div>
</div>

