<h1><%= @activity.name%></h1>
<p><%= @activity.description%></p>
<div>
    <%= image_tag @activity.image_path, style: "border: 1px solid black" %> 
</div>


<% @activity.categories.each do |category| %>
    <div>
    <b> <%= category.name %> </b>
    </div>
<% end %>




<%= link_to "Edit", edit_activity_path(@activity)%>
<%= button_to "Delete", @activity, method: :delete %>