<h1><%= @activity.name%></h1>

<% if @activity.user %>
    <div> <%= link_to "By #{@activity.user.username}", @activity.user %>
<%end%>

<p><%= @activity.description%></p>
<div>
    <%= image_tag @activity.image_path, style: "border: 1px solid black" %> 
</div>


<% @activity.categories.each do |category| %>
    <div>
    <b> <%= category.name %> </b>
    </div>
<% end %>


<% if current_user == @activity.user%>
<%= link_to "Edit", edit_activity_path(@activity)%>
<%= button_to "Delete", @activity, method: :delete %>
<%end%>