<div class= 'container'>
<%= form_with(model: review, url: activity_reviews_path) do |form| %>
  <% if review.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>


<div class="form-floating">
    <%= form.text_area :content, class:"form-control" %>
  <label for="floatingTextarea2"><%= form.label :content%></label>
</div>

<div><p> &nbsp </p></div>

<div class="form-floating">
    <%= form.text_field :date, value: Time.now.strftime("%A, %B, %d, %Y"), readonly: :true, class: "form-control" %>
  <label for="floatingTextarea2"><%= form.label :date%></label>
</div>

<%= form.submit "Submit", class:"btn btn-success"%>

<% end %>
</div>
