<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-floating">
    <%= form.text_area :content, class:"form-control" %>
  <label for="floatingTextarea2"><%= form.label :content%></label>
</div>

<div><p> &nbsp </p></div>

<div class="form-floating">
    <%= form.datetime_field :date, class: "form-control" %>
  <label for="floatingTextarea2"><%= form.label :date%></label>
</div>

  <div>
    <%= form.label :activity_id, style: "display: block" %>
    <%= form.text_field :activity_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>

